{% extends "base-theme.html" %}

{% block extra_html %}{% endblock %}
{% load leaflet_tags %}

{% block extra_headers %}

{% endblock %}

{% block page_title %}Orders{% endblock %}


{% block show_content %}
    <div class="col-xs-12">
        <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">User's orders (Cloudlet)</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Order List</th>
                                            <th>From</th>
                                            <th>Store</th>
                                            <th>Total Amount</th>
                                            <th>VAT</th>
                                            <th>Created</th>
                                        </tr>
                                        {% for order in orders.objects %}
                                        <tr>
                                            <td>{{ order.id }}</td>
                                            <td>
                                                <div>id:</div>
                                                <div>type:</div>
                                            </td>
                                            <td>
                                                <div>id: {{ order.From.id }}</div>
                                                <div>username:{{ order.From.name }}</div>
                                            </td>
                                            <td>{{ order.target_id }}</td>
                                            <td>{{ order.total_amount }}{{ order.currency }}</td>
                                            <td>{{ order.vat }}{{ order.currency }}</td>
                                            <td>09-09-2014 13:31:00 GMT+3</td>
                                        </tr>
                                        {% endfor %}

                                    </table>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <ul class="pagination pagination-sm no-margin pull-right">
                                        <li><a href="#">&laquo;</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div><!-- /.box -->

    </div>

{% endblock %}

{% block extra_script %}

{% endblock %}

