{% extends "base-theme.html" %}

{% block extra_html %}{% endblock %}
{% load leaflet_tags %}

{% block extra_headers %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block page_title %}Map view{% endblock %}


{% block show_content %}

    {% leaflet_map "yourmap" callback="window.map_init_basic" %}


{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
    function map_init_basic (map, options) {

        {% for place in places.recommendations %}
            L.marker();
            L.marker([{{ place.location.lat }}, {{ place.location.lng }}],
                {
                    title: '{{ place.name }}',
                    riseOnHover: true
                }
                ).addTo(map).bindPopup("<b>Name</b> : {{ place.name }}<br><b>Address</b> :"+
                            "{% for address in place.location.formattedAddress %} {{ address }} {% endfor %}<br><b>Categories</b> :{% for category in place.categories %}  {{ category}} {% endfor %}<br><b>City</b> : {{ place.location.city}}");

        {% endfor %}
        markers.on('clusterclick', function (a) {
            a.layer.zoomToBounds();
        });
    }
</script>
<style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 500px;
    }

    #specialbigmap {
        height: 800px;
    }

</style>
{% endblock %}