{% extends "base-theme.html" %}

{% block extra_html %}{% endblock %}
{% load leaflet_tags %}

{% block extra_headers %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}


{% block show_content %}

    {% leaflet_map "yourmap" callback="window.map_init_basic" %}


{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
    function map_init_basic (map, options) {
        {% for place in places.recommendations %}
            L.marker([{{ place.location.lat }}, {{ place.location.lng }}]).addTo(map);
        {% endfor %}



    }
</script>
<style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 500px;
    }

    #specialbigmap {
        height: 800px;
    }

</style>
{% endblock %}