{% extends "base-theme.html" %}

{% block page_title %}List View{% endblock %}

{% block context_settings %}
                    <div class="col-md-3">
                        <form action="/welcome" method="post">{% csrf_token %}
                            <div class="col-sm-12">
                                    <!-- Default box -->
                                    <div class="box">
                                        <div class="box-header">
                                            <h4 class="box-title">Context</h4>
                                        </div>
                                        <div class="box-body">
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Profile:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!-- Single button -->
                                                        <div class="btn-group">
                                                          <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="profileSettings" value="{{ settings.profileSettings | default:'Enabled' }}" size="7"/>
                                                          <ul class="dropdown-menu" role="menu">
                                                            <li><a>Enabled</a></li>
                                                            <li><a class="label-danger">Disabled</a></li>
                                                          </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                            <p>
                                            <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Interests:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!-- Single button -->
                                                        <div class="btn-group">
                                                          <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="interestsSettings" value="{{ settings.interestsSettings | default:'Enabled' }}" size="7"/>
                                                          <ul class="dropdown-menu" role="menu">
                                                            <li><a>Enabled</a></li>
                                                            <li><a class="label-danger">Disabled</a></li>
                                                          </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Activity:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!-- Single button -->
                                                        <div class="btn-group">
                                                          <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="activitySettings" value="{{ settings.activitySettings | default:'Working' }}" size="7"/>
                                                          <ul class="dropdown-menu" role="menu">
                                                            <li><a>Working</a></li>
                                                            <li><a class="label-danger">Freetime</a></li>
                                                          </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Friends:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!-- Single button -->
                                                        <div class="btn-group">
                                                          <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="friendsSettings" value="{{ settings.friendsSettings | default:'Disabled' }}" size="7" disabled/>
                                                          <ul class="dropdown-menu" role="menu">
                                                            <li><a>Enabled</a></li>
                                                            <li><a class="label-danger">Disabled</a></li>
                                                          </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Mood:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!-- Single button -->
                                                        <div class="btn-group">
                                                          <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="moodSettings" value="{{ settings.moodSettings | default:'Enabled' }}" size="7"/>
                                                          <ul class="dropdown-menu" role="menu">
                                                            <li><a>Enabled</a></li>
                                                            <li><a class="label-danger">Disabled</a></li>
                                                          </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                        <div class="row"></div>
                                        </div>
                                        <div class="box-footer">
                                            Contextual settings
                                        </div>
                                    </div><!-- /.box -->

                            </div><!-- /.row -->
                            <div class="col-sm-12">
                                    <!-- Default box -->
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">System</h3>
                                        </div>
                                        <div class="box-body">
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Location:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!-- Single button -->
                                                        <div class="btn-group">
                                                          <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="locationSettings" value="{{ settings.locationSettings | default:'On' }}" size="7"/>
                                                          <ul class="dropdown-menu" role="menu">
                                                            <li><a>On</a></li>
                                                            <li><a class="label-danger">Off</a></li>
                                                          </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                    <input type="text" class="form-control" placeholder="latitude" id="latitudeTextbox" name="latitudeTextbox" value="{{ lat }}">
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                    <input type="text" class="form-control" placeholder="longitude" id="longitudeTextbox" name="longitudeTextbox" value="{{ long }}">
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <i class="fa fa-building-o"></i>
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ city.city }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        <i class="fa fa-circle-o"></i>
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ city.country_name }}
                                                    </div>
                                                </div>
                                            </p>
                                            <div class="row"></div>
                                            <p>
                                                <div class="row">
                                                <div class="col-md-4">
                                                    <label>Daytime:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <!-- Single button -->
                                                    <div class="btn-group">
                                                      <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="daytimeSettings" value="{{ settings.daytimeSettings | default:'On' }}" size="7"/>
                                                      <ul class="dropdown-menu" role="menu">
                                                        <li><a>On</a></li>
                                                        <li><a class="label-danger">Off</a></li>
                                                      </ul>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                    <input type="text" class="form-control" placeholder="daytime" id="daytime" value="{{ datetime }}">
                                                </div>
                                            </p>
                                            <div class="row"></div>
                                            <p>
                                                <div class="row">
                                                <div class="col-md-4">
                                                    <label>Weekday:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <!-- Single button -->
                                                    <div class="btn-group">
                                                      <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="weekdaySettings" value="{{ settings.weekdaySettings | default:'On' }}" size="7"/>
                                                      <ul class="dropdown-menu" role="menu">
                                                        <li><a>On</a></li>
                                                        <li><a class="label-danger">Off</a></li>
                                                      </ul>
                                                    </div>
                                                </div>
                                                </div>
                                            </p>
                                            <div class="row"></div>
                                        </div><!-- /.box-body -->
                                        <div class="box-footer">
                                            Settings coming from the system
                                        </div>
                             </div><!-- /.box -->
                             </div>
                             <div class="col-sm-12">
                                    <!-- Default box -->
                                            <p>
                                                <input type="submit" class="btn"></button>
                                            </p>
                            </div><!-- /.row -->
                        </form>
                    </div>
{% endblock %}
{% block show_content %}
                    <div class="col-md-9">
                        <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                      <i class="fa fa-picture-o"></i> Photos
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                    <div class="timeline-body">
                                            {% for response in photos %}
                                                {% for photo in response.response %}
                                                    <img src="{{ photo.file.icon }}" alt="{{ photo.file.title }}" class="margin">
                                                {% endfor %}
                                            {% endfor %}
                                    </div>
                                    <div class="panel-footer">
                                        Photos around coming from CBS <br/>
                                            {% for response in photos %}
                                                {% for photo in response.response %}
                                                    {% for tag in photo.tags %}
                                                        #{{ tag |slice:"5:"}}
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endfor %}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                    </div>
{% endblock %}