{% extends "base-theme.html" %}

{% block extra_html %}{% endblock %}
{% load leaflet_tags %}

{% block extra_headers %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block page_title %}Products coming from Recommender SE{% endblock %}
{% block context_settings %}
                    <div class="col-md-4">
                        <form action="/rec-products" method="post">{% csrf_token %}
                            <div class="col-sm-12">
                                    <!-- Default box -->
                                    <div class="box">
                                        <div class="box-header">
                                            <h4 class="box-title">Context Settings for Recommender SE</h4>
                                        </div>
                                        <div class="box-body">
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Education:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!-- Single button -->
                                                        <div class="btn-group">
                                                          <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="educationSettings" value="{{ settings.educationSettings | default:'Enabled' }}" size="7"/>
                                                          <ul class="dropdown-menu" role="menu">
                                                            <li><a>Enabled</a></li>
                                                            <li><a class="label-danger">Disabled</a></li>
                                                          </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Gender:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!-- Single button -->
                                                        <div class="btn-group">
                                                          <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="genderSettings" value="{{ settings.genderSettings | default:'Enabled' }}" size="7"/>
                                                          <ul class="dropdown-menu" role="menu">
                                                            <li><a>Enabled</a></li>
                                                            <li><a class="label-danger">Disabled</a></li>
                                                          </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Age:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!-- Single button -->
                                                        <div class="btn-group">
                                                          <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="ageSettings" value="{{ settings.ageSettings | default:'Enabled' }}" size="7"/>
                                                          <ul class="dropdown-menu" role="menu">
                                                            <li><a>Enabled</a></li>
                                                            <li><a class="label-danger">Disabled</a></li>
                                                          </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                            <p>
                                            <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Interests:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <!-- Single button -->
                                                        <div class="btn-group">
                                                          <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="interestsSettings" value="{{ settings.interestsSettings | default:'Enabled' }}" size="7"/>
                                                          <ul class="dropdown-menu" role="menu">
                                                            <li><a>Enabled</a></li>
                                                            <li><a class="label-danger">Disabled</a></li>
                                                          </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>

                                            <div class="row"></div>
                                            <p>
                                                <div class="row">
                                                <div class="col-md-4">
                                                    <label>Daytime:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <!-- Single button -->
                                                    <div class="btn-group">
                                                      <input class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="daytimeSettings" value="{{ settings.daytimeSettings | default:'On' }}" size="7"/>
                                                      <ul class="dropdown-menu" role="menu">
                                                        <li><a>On</a></li>
                                                        <li><a class="label-danger">Off</a></li>
                                                      </ul>
                                                    </div>
                                                </div>
                                                </div>
                                            </p>
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Category:</label>
                                                    </div>
                                            <div class="col-md-7">
                                                <div class="btn-group">
                                                    <button type="button" id="categoryButton" class="btn btn-default" data-toggle="dropdown">{{ settings.categorySettings | default:'all' }}</button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a class="categoryLink" href="#">all</a></li>
                                                        {%  for category in productCategories %}
                                                            <li><a class="categoryLink" href="#">{{ category }}</a></li>
                                                        {% endfor %}

                                                    </ul>
                                                    <input id="categoryProduct" name="categorySettings" hidden="hidden" value="{{ settings.categorySettings | default:'all' }}">
                                                    <script>
                                                        $(".categoryLink").click(function(){
                                                            $("#categoryProduct").val($(this).text());
                                                            //alert ($(this).text());
                                                        });


                                                    </script>
                                            </div>

                                            </div>
                                                </div>

                                            </p>
                                        <p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Method of recommendation:</label>
                                                    </div>
                                            <div class="col-md-7">
                                                <div class="btn-group">
                                                    <button type="button" id="methodButton" class="btn btn-default" data-toggle="dropdown">{{ settings.methodRecommendation | default:'count' }}</button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a class="methodLink" href="#">count</a></li>
                                                        <li><a class="methodLink" href="#">sum</a></li>
                                                        <li><a class="methodLink" href="#">mean</a></li>

                                                    </ul>
                                                    <input id="methodRec" name="methodRecommendation" hidden="hidden" value="{{ settings.methodRecommendation | default:'count' }}">
                                                    <script>
                                                        $(".methodLink").click(function(){
                                                            $("#methodRec").val($(this).text());
                                                            //alert ($(this).text());
                                                        });


                                                    </script>
                                            </div>

                                            </div>
                                                </div>

                                            </p>
                                            <hr>
                                            <p>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>User:</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                        <input type="text" class="form-control" placeholder="userid" name="userID" value="{{ username }}">
                                                    </div>
                                                </div>
                                            </div>
                                            </p>
                                            <p>
                                            <div class="row" hidden>
                                                <div class="col-md-2">
                                                    <label>Token:</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="user token" name="token" value="{{ token }}">
                                                    </div>
                                                </div>
                                            </div>
                                            </p>
                                        <hr>
                                        <p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Choose Shop:</label>
                                                    </div>
                                            <div class="col-md-7">
                                                <div class="btn-group">
                                                    <button type="button" id="shopButton" class="btn btn-default" data-toggle="dropdown">{{ settings.shopId | default:'No' }}</button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a class="shopLink" href="#">No</a></li>
                                                        <li><a class="shopLink" href="#">Shop1</a></li>
                                                        <li><a class="shopLink" href="#">Shop2</a></li>

                                                    </ul>
                                                    <input id="shopRec" name="shopRecommendation" hidden="hidden" value="{{ settings.shopId | default:'No' }}">
                                                    <script>
                                                        $(".shopLink").click(function(){
                                                            $("#shopRec").val($(this).text());
                                                            //alert ($(this).text());
                                                        });
                                                    </script>
                                            </div>

                                            </div>
                                                </div>

                                        </p>

                             </div>
                                    <div class="panel-footer">
                                        <div class="box-header">
                                            <h4 class="box-title"><i class="fa fa-fw fa-user-secret"></i>Context from Cloudlet directly</h4>
                                            (no call to SE)
                                        </div>

                                                <b>Age</b>: {{ context.personalization_age_range }}<br>
                                                <b>Income</b>: {{ context.personalization_income }}<br>
                                                <b>Gender</b>: {{ context.personalization_gender }}<br>
                                                <b>Interests</b>:  <textarea rows="3" cols="25" disabled>{% for interest in context.personalization_interests %}{{ interest }}{% endfor %}</textarea><br>
                                                <b>Education</b>: {{ context.personalization_education }}<br>

                                        </div>
                                        </div><!-- /.box -->
                             </div>
                             <div class="col-sm-12">
                                    <!-- Default box -->
                                            <p>
                                                <input type="submit" class="btn"></button>
                                            </p>
                            </div><!-- /.row -->
                        </form>
                    </div>
{% endblock %}

{% block show_content %}
<div class="col-md-8">
    <div class="box-body table-responsive no-padding">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>User View</th>
                                            <th>User View</th>
                                        </tr>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Picture</th>
                                            <th>Categories</th>
                                            <th>Score</th>
                                        </tr>
                                        {% for product in products.recommendations %}

                                        <tr>
                                            <td><a href="{{ product.url }}">{{ product.name }}</a></td>
                                            <td>{{ product.description }}</td>
                                            <td><img src="{{ product.picture }}" alt="{{ product.name }}" style="width:80px;height:80px"></td>
                                            <td>{% for category in product.categories %}{{ category }}, {% endfor %}</td>
                                            <td><span class="label label-success">{{ product.score }}</span></td>
                                        </tr>

                                        {% endfor %}
                                    </table>
                                </div><!-- /.box-body -->

</div>
{% endblock %}

{% block extra_script %}

    <!-- AdminLTE App -->
    <script src="../static/js/AdminLTE/app.js" type="text/javascript"></script>


<style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 500px;
    }

    #specialbigmap {
        height: 800px;
    }

</style>

{% endblock %}