{% extends "base-theme.html" %}

{% block sidebar-menu %}{% endblock %}
{% block notification-menu %}{% endblock %}

{% block page_title %}Sync your accounts{% endblock %}

{% block show_content %}
    <form method="post" action="/authorizeSignup?access={{ access }}">
    {% csrf_token %}
    <table class="table table-striped">
        {{ personForm }}
    </table>
    <input type="submit" value="Submit">
    </form>
    <ul>
    {% for checkin in checkins.response.checkins.items %}
        <li>{{ checkin.id }},{{ checkin.venue.name }},{{ checkin.venue.location.lat }},{{ checkin.venue.location.lng }} </li>
    {% endfor %}
    </ul>


    /* Include the jquery Ui here */
 <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012"
        // You can put more options here.

    });
  });
  </script>
{% endblock %}