{% extends "base-theme.html" %}

{% block sidebar-menu %}
    <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->


                    <ul class="sidebar-menu">
                        <li class="treeview">
                            <a href="/authorize">
                                <i class="fa fa-map-marker"></i>
                                <span>Train Place Recommender</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="/train">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Train Product Recommender</span>
                            </a>
                        </li>

                    </ul>

                </section>
                <!-- /.sidebar -->
{% endblock %}
{% block notification-menu %}{% endblock %}

{% block page_title %}Sync your accounts{% endblock %}

{% block show_content %}
    <form method="post" action="/authorizeSignup?access={{ access }}">
    {% csrf_token %}
    <table class="table table-striped">
        {{ personForm }}
    </table>
    <i> * Required fields <br>
    Note: We do store anonymized data, not your real profile. You have not synced your checkins yet, your profile will be saved on the next page.</i>
    <br><br>
        <input type="submit" class= "btn btn-primary" value="Submit">

    </form>
{#    <ul>#}
{#    {% for checkin in checkins.response.checkins.items %}#}
{#        <li>{{ checkin.id }},{{ checkin.venue.name }},{{ checkin.venue.location.lat }},{{ checkin.venue.location.lng }} </li>#}
{#    {% endfor %}#}
{#    </ul>#}



{% endblock %}