{% extends "base-theme.html" %}
{% block notification-menu %}{% endblock %}

{% block page_title %}Sync your accounts{% endblock %}

{% block show_content %}

    <a id="btn" class="btn btn-block btn-social btn-foursquare" href="{{ 4sqAuth }}">
                                        <i class="fa fa-foursquare"></i> Sign in with Foursquare
    </a>
    <br>
    By clicking on the button above you confirm you have read and accepted the <a href="/terms" target="_blank">Privacy Terms</a>


{% endblock %}

{% block extra_script %}


    <script>
$(document).ready(function(){
    $("input[type=checkbox]").change(function(){
        if($(this).is(":checked")){
            $('#btn').removeAttr('disabled');
             //$(this).siblings("input[type=checkbox]").removeAttr("checked");
           }else{
            $('#btn').attr('disabled', 'disabled');
           }
        });

});


 </script>

{% endblock %}