{% extends "base-theme.html" %}

{% block sidebar-menu %}{% endblock %}
{% block notification-menu %}{% endblock %}

{% block page_title %}Privacy Terms{% endblock %}

{% block show_content %}
<h1>Privacy Terms</h1>

This is an application developed by Decisions Support System (DSS) Lab, NTUA, in order to train and improve its privacy enabled recommendation systems. Below you can read a detailed description of how your data are used.

<h3>Gathering of Personally-Identifying Information</h3>
The application collects location-based information you have shared with third party applications (Foursquare), and the given information you fill in the form. No emails or real names are stored in the system, and the identification of the Foursquare service will be used only to retrieve any new data provided by the API of the service. In each case, the application collects such information only insofar as is necessary or appropriate to fulfill the purpose of the research.

<h3>Protection of Certain Personally-Identifying Information</h3>
The application discloses potentially personally-identifying and personally-identifying information only to those of its research team (DSS Lab NTUA), partners, researchers and affiliated organizations that (i) need to know that information in order to validate the research results, and (ii) that have agreed not to disclose it to others. Some of those employees, partners, researchers and affiliated organizations may be located outside of your home country; by using the application, you consent to the transfer of such information to them. DSS Lab takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information. DSS Lab may process your personal data to increase accuracy on recommendations. The outcome of this process will not be available to any third-party entity.

<h3>Internet Protocol (IP) Address, WAN Data and Cookie processing</h3>
No data of IP Addresses, WAN data and cookies will be processed by the application. Any such data unavoidably recognized for technical reasons will be deleted as soon as possible.

<h3>Ads</h3>
Data will not be given and used for any advertising purpose.

<h3>Privacy Policy Changes</h3>
Although most changes are likely to be minor, the application may change its Privacy Policy from time to time. If you are about to

<h3>Leaving the application</h3>
If you desire to delete your data, you can send us an email with topic [Open-i recommender - remove data], your name, Foursquare ID and a short relative message, at contact@epu.ntua.gr

{% endblock %}